.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../img/wall4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-default {
    width: 100%;
    margin: 0 !important;
}

.login-page .card-body {
    padding: 4.25rem 1.75rem !important;
}

.card {
    background-color: rgb(0, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.login-page .md-form label, .form-control {
    color: #ffffff;
}

.md-form .prefix {
    top: 0.95rem !important;
}

header {
    background-color: #202020;
}

header ul {
    display: flex;
    list-style: none;
    padding: 20px 0;
    justify-content: center;
    margin: 0;
}

header ul li a {
    margin: 0 15px;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}

header ul li a.active {
    border-bottom: 2px solid brown;
}

header ul li a:hover {
    color: aliceblue;
}

header .center .logo {
    width: 120px;
    height: 50px;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;
}

header .center {
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner {
    height: 90vh;
}

.banner img {
    width: 100%;
    height: 100%;
    object-position: right top;
    object-fit: cover;
}

.banner .text {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translateY(40%);
    width: 20%;
    color: white;
}

h1 {
    font-size: 28px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    margin: 0 !important;

}

.inner-page {
    margin: 30px 0;
}

.inner-page .title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 30px;
}

.grid-comics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

}

.grid-comics .card {
    color: #202020 !important;
    background-color: #f2f4f4 !important;
}

.view img {
    margin: 0 auto !important;

}

.card .card-body .card-text span {
    display: block !important;
    margin-bottom: 5px;
}

.white-color {
    color: white !important;
}
.grid-comics  .card-title {
    text-align: center;
}

.stories-grid .card {
    color: #202020 !important;
    background-color: #eaf5f5 !important;
    margin-bottom: 30px;
}
.grid-events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

}
.grid-events .card {
    color: #202020 !important;
    background-color: #f2f4f4 !important;
    margin-bottom: 30px;
}
.like-btn {
    width: 20px;
    height: 27px;
    background-image: url("../img/like2.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.like-btn.toggled {
    background-image: url("../img/like.svg");
}
